@import 'nib'
.mtop5
  margin-top 5px
.mleft5
  margin-left 5px
.mbottom5
  margin-bottom 5px
.mright5
  margin-right 5px
.mtop10
  margin-top 10px
.mbottom10
  margin-bottom 10px
.mleft10
  margin-left 10px
.mright10
  margin-right 10px
.mtop20
  margin-top 20px
.mbottom20
  margin-bottom 20px
.mleft20
  margin-left 20px
.mright20
  margin-right 20px
.margin5
  margin 5px
.margin10
  margin 10px
.margin20
  margin 20px

.ptop5
  padding-top 5px
.pbottom5
  padding-bottom 5px
.pleft5
  padding-left 5px
.pright5
  padding-right 5px
.ptop10
  padding-top 10px
.pbottom10
  padding-bottom 10px
.pleft10
  padding-left 10px
.pright10
  padding-right 10px
.ptop20
  padding-top 20px
.pbottom20
  padding-bottom 20px
.pleft20
  padding-left 20px
.pright20
  padding-right 20px
.padding5
  padding 5px
.padding10
  padding 10px
.padding20
  padding 20px


.font10
  font-size 10px
.font11
  font-size 11px
.font12
  font-size 12px
.font13
  font-size 13px
.font14
  font-size 14px
.font16
  font-size 16px

.tac
  text-align center

.b
  font-weight 900

.hidden
  display none


.borderRadius4
  border-radius 4px
.borderRadius8
  border-radius 8px


.btn
  text-align center
  padding 5px 20px
  font-size 12px
  line-height 18px
  color #0f0f0f
  border 1px solid #c0c0c0
  background-color #e0e0e0
  // vicansoGradient #fa5b90, #ff74a1
  background linear-gradient(top, #f8f8f8, #e0e0e0)
  box-shadow inset 0 0 10px rgba(255,255,255,0.2) inset 0 1px 0 rgba(255,255,255,0.1)
  border-radius 3px
  display inline-block
  &.btnPrimary
    background-image none
    background-color #40574f
    color white
  &:hover, &:active
    background-color #505e5e
    background linear-gradient(top, #505e5e, #324f4f)
    border 1px solid #324f4f
    color white
  &.disabled
    color #d1d1d1
    &:hover, &:active
      background linear-gradient(top, #f8f8f8, #e0e0e0)
      border 1px solid #c0c0c0

